.main {
  min-height: calc(100vh - 300px);
  /* Adjust for hero */
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}